# Database Configuration
# Copy this file to .env and update with your actual values

DB_CONNECTION=mysql
DB_DATABASE=default
DB_HOST=joccwsg44gwo0oc0s8g48ko0
DB_PASSWORD=0439VpH3ybiZZdDmbFH7mI1PXBBSSGfMwh96BdMEcBGGYH5gJsIFZAiTAfCwNJGz
DB_PORT=3306
DB_USERNAME=root
